# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/

# Logs
*.log

# Packages
*.zip
*.tar.gz

# Terraform / CDK (if used)
.terraform/
terraform.tfstate*
cdk.out/

# SAM / CloudFormation artifacts
.aws-sam/
*/packaged-template.yaml
*/template-packaged.yaml

# Local tooling
*.retry
*.swp